*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background-color: #0b0c10;
}
.container {
    width: 45%;
    background: #1f2833;
    margin: auto;
    margin-top: 25px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 1px 8px #757677;
    color: #66FCF1;
    text-align: center;
    font-size: 30px;
}
.container h2 {
    font-size: 30px;
    border-bottom: 2px solid #45a29e;
}
p {
    background: #45a29e;
    margin-top: 20px;
    border-radius: 15px;
    color: #0b0c10;
    font-size: 17px;
    font-weight: 700;
    padding: 7px;
}
img {
    height: 150px;
    width: 40%;
    margin-top: 20px;
    border-radius: 5px;
}
input {
    width: 50%;
    padding: 5px;
    background: #1f2833;
    margin-top: 15px;
    border-color: #66FCF1;
    border-radius: 7px;
    color: #66FCF1;
    transition: 0.5s;
}

input:focus {
    background-color: #66fcf252;
    color: #0b0c10;
    border-color: #0b0c10;
}
@media (max-width: 700px) {
    .container {
        width: 70%;
    }

    .container h2 {
        font-size: 25px;
    }

    input {
        width: 70%;
    }

    img{
        height: 125px;
        width: 95%;
    }

    p {
        font-size: 15px;
        font-weight: 700;
        padding: 5px;
    }
}